@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  * {
    border-color: #334155;
    box-sizing: border-box;
  }

  body {
    background-color: #020617; /* Slate-950 */
    color: #f1f5f9; /* Slate-100 */
    min-height: 100vh;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom dark scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #090d16;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Chrome, Safari, Edge, Opera number input arrow hide */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox number input arrow hide */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
